@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: rgb(22, 22, 22);
}

a {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  border-bottom: 3px solid #b4ea43;
  position: relative;
}

a .btn:hover {
  background: transparent;
  border: 3px solid #b4ea43;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.01);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.01); */
}

.hero {
  height: 100vh;
  background: rgb(22, 22, 22);
  display: flex;
  justify-content: end;
  /* padding-top: 80px; */
  /* overflow: hidden; */
}

.hero-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: white;
  z-index: 1;
}

.hero img {
  position: absolute;
  width: 98vw;
  top: 80px;
}

.rental {
  /* display: flex; */
  color: white;
  /* padding-top: 200px; */
  padding: 150px 50px 0 50px;
}

.container-rental {
  display: flex;
  flex: row;
  justify-content: center;
}
.rental-text {
  width: 60%;
  color: white;
  float: left;
}

.rental-images {
  width: 40%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
}

.keunggulan {
  padding: 100px 50px 0 50px;
  color: white;
}

.mobil {
  display: flex;
  justify-content: center;
  background: rgb(22, 22, 22);
}

.mobil img {
  display: block;
  position: absolute;
}

.jenis-items {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 150px;
}

.contact {
  padding: 50px;
}

@media screen and (max-width: 500px) {
  .hero-content {
    width: 100%;
    padding: 0 30px;
  }

  .hero img {
    display: none;
  }

  .container-rental {
    display: flex;
    flex-direction: column;
  }
  .container-rental .rental-text {
    width: 100%;
  }
  .container-rental .rental-images {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .container-rental .rental-images .rental-img {
    width: 50px;
  }

  .unggulan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }

  #keunggulan-img {
    width: 200px;
  }
  .unggulan #keunggulan-text {
    margin-right: 50px;
    padding: 0;
    width: 100%;
  }
  .unggulan #keunggulan-text3 {
    margin-right: 50px;
    padding: 0;
    width: 100%;
  }

  .mobil {
    display: none;
  }

  .jenis-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  #jenis-img1 {
    display: none;
  }
  #jenis-img2 {
    display: none;
  }
  #jenis-img3 {
    display: none;
  }
  #jenis-img4 {
    display: none;
  }
  .jenis .jenis-items .jenis-text p {
    width: 100%;
  }

  #jenis-text3 {
    width: 100%;
    margin: 0;
  }

  .maps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  #navimg {
    width: 80px;
  }

  .navbar-nav {
    padding: 10px;
  }
  .navbar-nav ul a li {
    font-size: 12px;
  }
  #navren {
    display: none;
  }
  #navber {
    display: none;
  }
  #navten {
    display: none;
  }

  #navbtn {
    display: none;
  }
}
